<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<a href="/articles">Back to list</a>
<%= link_to "Edit this article", article_path(@edit_article) %>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
